@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  background-color: black;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.active {
  color: #B4ADA3;
}

@layer components {
  .button {
    @apply bg-[#B4ADA3] min-w-[130px] p-2 text-center rounded-2xl text-[18px]  transition-shadow duration-300;
    box-shadow:
      0 0 6px rgba(255, 255, 255, 0.3),0 0 8px rgba(110, 71, 218, 0.4);   
  }

  .icons {
    @apply h-12 w-12 text-white m-2 border-2 inline-block border-white rounded-full max-w-[100px] p-2;
  }

  .icons-text {
    @apply text-white text-xl my-2 p-2;
  }

  .header-hover {
    @apply transition duration-300 hover:drop-shadow-[0_0_10px_white]
  }
}


